body{
	margin:0px;
	padding:0px;
	background-image:url('https://doc-0c-9c-docs.googleusercontent.com/docs/securesc/vhtlsu1k9pvrc39355cmsuvjm6nku6p5/5oufabe2lq75jl85smramthvu874t90v/1526119200000/12573783377440159609/12573783377440159609/1IUetGZadK1DpDmVm4SoPliRbuPh1K-WT'); 
	border:10px;  
		
	background-attachment:fixed; 
	background-size:cover;
}
.img1
{
	background-color:white;
	width:15%;
	position:absolute;
	top:100px;
	left:120px;
	
	color:blue;
	height:px;
	animation: fadein 6s;
		
	
}
div
{
	animation:fadein 6s;
	
}
	.pra
{
	text-align:center;
	letter-spacing: 5px;
	word-spacing: 10px;                                                                                                                
     font-size:10px;
	font-family:arial;
	font-variant:bold;
	animation: fadein 6s;
}


.img2
{	
	
	background-color:white;
	width:15%;
	position:absolute;
	top:400px;
	left:100px;
	margin:20px;
	color:blue;
	animation: fadein 6s ;
		
	
}
ul{
	padding:0px;
	padding-top:10px;
	padding-left:300px;
	justify-content:center;
	
    position:fixed;
	width:100%;
	margin:0px;
	list-style-type:none;
	
	text-align:center;
	overflow:auto;
	padding-bottom:100px;

	
}
li{
	padding-left:0px;
	margin:0px;
	float:left;

	text-transform: uppercase;
	
	
}
a
{
	color:red;
	display:block;
	text-decoration:none;
	font-size:40px;
	font-family:Courier New;
    font-weight:lighter;
	font-variant:bold;
	padding:20px;
	width:200px;
	transition: transform 1s;
	
}

ul li a:hover
{
background-color:white;
color:blue;


	transform:rotateX(180deg);

}
ul li a:active
{
	background-color:red;
	color:orange;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
